{% extends 'base.html.twig' %}
    

{% block title %}
                   Houida
{% endblock %}
{% block accueil %}  
           <h1>Welcome MDW 3 </h1>
        {% endblock %}

{% block body %}  
       <h1>{{ prenom }}</h1>
       <h1>{{ nom }}</h1>
{% endblock %}